{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="main">
    <form method="post" action="/contact/">
        {% csrf_token %}

        <div class="contact_box">


            <div class="form-group">
                
                <input class="form_field" type="text" name="name" id="name" placeholder="Ваше Ім'я">
            </div>

            <div class="form-group">
                
                <input class="form_field" type="text" name="phone" id="phone" placeholder="Номер телефону">
            </div>

            <div class="form-group">
                
                <input class="form_field" type="text" name="email" id="email" placeholder="email">
            </div>
            <button class="submit_buton" type="submit">Відправити</button>
        </div>  
        
    </form>
</div>




{% endblock %}